nav {
    display: flex;
    justify-content: space-between;
    height: 65px;
}

nav * {
    margin: auto 0;
}

div.browse-div {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

div.search-div {
    width: 40%;
    position: relative;
}

input {
    width: 100%;
}

div.session-div {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

div.search-results {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: blue;
}
